= simple_form_for salon, html: { class: "service-form" } do |f|
  = f.input :name, label: false, placeholder: "Наименование"
  = f.input :address, label: false, placeholder: "Адресс"
  = f.button :submit,"Добавить салон",class: "btn-form"