= simple_form_for [record, pre_record] do |f|
    = f.input :after, collection: ["3 недели","2 недели","1 неделя"], selected: "3 недели", label: false
    = f.submit "Добавить запись", class: "btn-form-pre-record"