.brand {
  border: 1px solid #E6E7E8;
  padding: 10px;
  background-color: #fff;

 .brand-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;  
    color: #0d8c3e;
  }
}

.brands {
  td {
    padding: 5px;
  }

  .part {
    border-left: none !important;
  }

  td.part-name-category {
    padding: 5px;
    padding-left: 50px;
  }
}

.add-category {
  margin: 0;
  border-radius: 50%;
  padding: 0.35em 0.5em;
}

.category-form {
  padding: 10px;

  .btn-form {
    float: left;
    margin-bottom: 10px;
  }
}

.category-dropdown {
  width: 253px;
}

.category-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;  
  color: #0d8c3e;
}

.brands-list {
  float: left;
  width: 200px;
  border: 1px solid #E6E7E8;
  box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.1);

  .brand-image {
    img {
      width: 50%;
    }
  }

  .brand-title {
    background-color: #fff;
    padding: 10px;
    color: #6b6b6b;
  }
}