.sum {
  text-align: center;
  font-size: 1.1rem;
  padding: 10px;
  color: #872929;
  border-bottom: 1px solid #E6E7E8;
  background-color: #fff;
}

.finances-form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.1);
  border: 1px solid #E6E7E8;

  .btn {
    padding-left: 0;
  }
}

.finances {
    background-color: #fff;
    color: #6b6b6b;
    box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.1);
    border: 1px solid #E6E7E8;
    padding: 10px;
}
.part {
  text-align: center;
  border-left: 1px solid #E6E7E8;
  color: #6b6b6b;  
}

.add-finance-btn {
  position: fixed;
  left: 30px;

  button {
    font-size: 2rem;
    border-radius: 50%;
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 17px;
    padding-bottom: 10px;
    background-color: #0d8c3e;
    box-shadow: 0 0px 24px 0 rgba(104, 104, 104, 0.5);
  }
}

table {
  box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.1);
}

.title-cons {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.1);
  color: #6b6b6b;
  font-size: 1.1rem;
}

.sallary-btn {
  position: fixed;
  color: #fff;
  left: 30px;
  top: 150px;
  font-size: 2rem;
  border-radius: 50%;
  padding-left: 19px;
  padding-top: 3px;
  padding-right: 19px;
  padding-bottom: 3px;
  background-color: #0d8c3e;
  box-shadow: 0 0px 24px 0 rgba(104, 104, 104, 0.5);

  &:hover {
    background-color: #1583cc;
    color: #fff;
  }

  &:focus {
    background-color: #1583cc;
    color: #fff;
  }
}