.error {
  label {
    color: $form-label-color-invalid;
  }

  input,
  textarea,
  select {
    @include form-input-error;
  }

  .error {
    @include form-error;
  }
}

.modal-title {
  color: #0d8c3e;
  text-align: center;
  font-size: 1.5rem;
}
