.error {
  label {
    color: $form-label-color-invalid;
  }

  input,
  textarea,
  select {
    @include form-input-error;
  }

  .error {
    @include form-error;
  }
}

.modal-title {
  color: #0d8c3e;
  text-align: center;
  font-size: 1.5rem;
}

.title-type {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
  background-color: #499dfc;
  padding: 10px 15px 10px 15px;
  margin-bottom: 5px;
  border-radius: 20px;
  color: #fff;
}

p {
  margin-bottom: 0 !important;
}

.part-delete {
  text-align: center;
  border-left: 1px solid #E6E7E8;

  a {
    color: #872929;
    padding: 3px;
  }
}

.dinner-checkbox {
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  label{
    color: #fff;
  }
}
