.master-form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.1);
  border: 1px solid #E6E7E8;

  .btn {
    padding-left: 15px;
  }
}

.master-info-online {
  width: 100%;
  float: left;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;

  .master-avatar {
    width: 129px;

    img {
      box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.3);
    }
  }
  .master-service-info {
    color: #6b6b6b;
    padding: 5px;
  }
}

.description {
  padding: 10px;
  color: #872929;
  font-size: 1.1rem;
}

.master-services-info {
  table {
    font-size: 0.8rem;

    td {
      padding: 8px;
    }
  }
}

@media (min-width: 320px) {
  .master-avatar {
    width: 90px;
  }
}