.year {
  float: left;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0d8c3e;
  color: #fff;
}
.date-month, .date-day {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0d8c3e;
}

.date-day {
  margin-bottom: 0;
}

.master-info {
  text-align: center;
  font-size: 1.1rem;
  padding: 10px;
  color: #6b6b6b;
  border-bottom: 1px solid #E6E7E8;
  background-color: #fff;
 }

.master-info-img {
  width: 90px;
  margin-top: 70px;
  border-radius: 10px;
  border: 1px solid #E6E7E8;
  box-shadow: 0 7px 10px 0 rgba(104, 104, 104, 0.2);
}

.work-day-info {
  border: 1px solid #E6E7E8;
  background-color: #fff;
  margin-bottom: 10px;
  border-right: none;
  padding: 0 !important;
  box-shadow: 0 1px 10px 0 rgba(104,104,104,.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
