.top-bar {
  background-color: #24292e;
  
  @include breakpoint(small only) {
    &-menu {
      flex-direction: column;

      align-items: flex-start;
    }
  }

  @include breakpoint(medium) {
    &-right {
      justify-content: flex-end;
    }
  }

  position: fixed;
  width: 100%;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
