.array-of-the-date {
  background-color: #24292e;
  box-shadow: 0 1px 10px 0 rgba(104,104,104,.1);

  li {
    a {
      color: rgba(255, 255, 255, 0.75);
      padding-top: 7px;
      padding-bottom: 7px; 
    }
  }

  .current-day {
    background-color: #0d8c3e;
    a {
      color: #fff;
    }
  }
}

.record-info, .select-master {
  text-align: center;
  border-bottom: 1px solid #E6E7E8;
  width: 100%;
  height: 50px;
  margin-bottom: 0 !important;
  background-color: #fff;
  color: #6b6b6b;
  font-size: 1.1rem;

  &:hover {
    background-color: #0d8c3e;
  }
}

.record-info {
  padding: 10px;
}

.select-master {
  &:hover {
    background-color: #6b6b6b;
  }
}

.dinner {
  background-color: #872929 !important;
  color: #fff !important;
}

.closed-record {
  background-color: #0d8c3e !important;
  color: #fff;

  &:hover {
    background-color: #E6E7E8;
  }
}

.client-added {
  background-color: #499dfc !important;
  color: #fff;
}

.record-info:last-child {
  border-bottom: none;
}

.client-info, .online-status {
  margin-top: 4px;
  font-size: 1rem;
}

.online-status {
  margin-top: 2px;
}

.badge.success {
  background-color: #fff !important;
  color: #0d8c3e;
  min-width: 1rem !important;
  min-height: 1rem !important;
}

.time {
  font-size: 0.75rem;
  padding-left: 3px;
}

.time-online {
  padding: 5px;
  a {
    color: #6b6b6b;
    padding: 7px;

    &:hover {
      background-color: #6b6b6b;
      color: #fff;
      border-radius: 10px;
    }
  }
}

.time-online-disabled {
  padding: 5px;
  color: #fff;
  padding: 7px;
  background-color: #872929;
}

.time-start, .master {
  padding-top: 10px;
  font-size: 1.2rem;
  color: #6b6b6b;
}

.confirm-title, .confirm {
  padding: 10px;
  font-size: 0.95rem;
  color: #6b6b6b;
}

.confirm {
  font-size: 0.75rem;
  text-align: justify;
}

.online-btn {
  padding: 0 !important;
  margin: 10px;

  .btn-save {
    background-color: #499dfc !important;
    float: none !important;

    &:hover {
      background-color: #437cb5 !important;
    }
  }

  a{
    color: #fff;
  }
}

.dropdown-pane {
  width: 332px; 
  padding: 0;

  .new-record {
    padding: 10px;
    text-align: center;
    background-color: #0d8c3e;
    color: #fff;
  }
  .form-input {
    padding: 10px;
  }

  button {
    background-color: red;
  }
}

.time {
  select {
    width: 40% !important;
  }
}

.message {
  background-color: #fff;
  box-shadow: 0 7px 10px 0 rgba(104, 104, 104, 0.2);
  border: 1px solid #cacaca;
  color: #6b6b6b;
  font-size: 1.5rem;
  padding: 50px 30px 50px 30px;
}

.online-time {
  display: none;
}

.price {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #872929;
  text-align: right;
  border-top: 1px dashed #cacaca;
  font-size: 0.9rem;
}

.btn-form-record {
  padding: 16px;

  .btn-save {
    float: right;
    font-size: 1rem;
    padding: 12px 28px 12px 28px;
    background-color: #0d8c3e;
  }

  .btn-clear {
    float: left;
    font-size: 1rem;
    padding: 9px 35px 9px 35px;
    background-color: #872929;
    color: #fff;
  }
}

.btn-form-record-change-type {
  .btn-type-change {
    float: right;
    font-size: 1rem;
    padding: 8px 28px 7px 28px;
    background-color: #0d8c3e;
    color: #fff;
  }
}

.input-group-label {
  height: 39px;
}

.discount-label {
  padding-left: 16px;

  .discount-btn {
    font-size: 0.9rem;
    background-color: #499dfc;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    color: #fff;
  }
}

.pre-record {
  background-color: #fff;
  position: absolute;
  width: 260px;
  right: 20px;
  top: 105px;
  box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.1);

  a {
    color: #0d8c3e;
    width: 244px;
  }

  li {
    color: #6b6b6b;
  }
}

.btn-form-pre-record {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 10px;
  background-color: #499dfc;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  color: #fff;
  border: none;
}

.is-accordion-submenu-parent > a::after {
  border-color: #0d8c3e transparent transparent;
}

.delete-pre-record {
  text-align: right;
  padding-right: 18px;
  color: #872929 !important;
}

.accordion-title:hover, .accordion-title:focus {
  background-color: #499dfc;
  color: #fff;
}

.accordion {
  border: 1px solid #cacaca;
  border-bottom: none;

  .accordion-title {
    font-size: 0.9rem;
    padding: 0.9rem;
  }

  .accordion-item:last-child {
    border-bottom: 1px solid #cacaca;
  }
}

.record-form {
  background-color: #fff;
  border: 1px solid #cacaca;
  box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.1);

  .previous, .next {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    a { 
      padding: 10px;
      background-color: #2199e8;
      border-radius: 20px;
      color: #fff;

      &:hover {
        background-color: #1a679a;
      }
    }
  }

  .dinner-checkbox {
    float: left;
    position: absolute;
    top: 65px;
    left: -185px;
  }

  .dropdown-title {
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6b6b6b;
  }

  .record-form-body {
    padding: 20px; 

    .accordion-title {
      text-align: left;
    }
  }
}

.beard, .hair, .hair-beard, .hair-2 {
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999999px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: 60%;
  background-color: #499dfc !important;
  border: none !important;

  &:hover {
    background-color: #437cb5 !important;
  }
}

.beard {
  background-image: url("beard_icon.png");
}

.hair {
  background-image: url("hair_icon.png");
}

.hair-2 {
  background-image: url("hair_2_icon.png");
}

.hair-beard {
  background-image: url("hair_beard_icon.png");
}

.hidden {
  display: none;
}

.online-label {
  margin-top: 5px;
  color: #6b6b6b;
  text-align: center;
  font-size: 0.8rem;
  line-height: 15px;
}

.custom-services {
  margin-bottom: 10px;
}

.online_services {
  padding: 0;
  background-color: #fff;
  color: #499dfc;
  font-size: 0.9rem;
}

.all-services {
  margin-top: 15px;
}

.table-form {
  margin-bottom: 3px;
  width: 100%;
  font-size: 0.95rem;
  background-color: #fff !important;
  color: #6b6b6b !important;
  border: 1px solid #cacaca !important;

  &:hover {
    background-color: #cacaca !important;
    color: #fff !important;
  }
}

.price-form {
  margin-bottom: 3px;
  padding: 8px;
  text-align: center;
  border: 1px solid #cacaca;
  font-size: 0.9rem;
  color: #6b6b6b;
}

.open-record {
  color: #872929;
}