.array-of-the-date {
  background-color: #fff;
  box-shadow: 0 1px 10px 0 rgba(104,104,104,.1);
  padding: 5px;
  border: 1px solid #E6E7E8;

  li {
    a {
      color:  #6b6b6b; 
    }
  }

  .current-day {
    background-color: #0d8c3e;
    a {
      color: #fff;
    }
  }
}

.record-info {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #E6E7E8;
  width: 100%;
  height: 50px;
  margin-bottom: 0 !important;
  background-color: #fff;
  color: #6b6b6b;
  font-size: 1.1rem;

  &:hover {
    background-color: #0d8c3e;
  }
}

.dinner {
  background-color: #872929 !important;
  color: #fff;
}

.closed-record {
  background-color: #0d8c3e !important;
  color: #fff;

  &:hover {
    background-color: #E6E7E8;
  }
}

.client-added {
  background-color: #499dfc !important;
  color: #fff;
}

.record-info:last-child {
  border-bottom: none;
}

.client-info {
  float: none !important;
  margin-top: 4px;
}

.time {
  font-size: 0.75rem;
  padding-left: 3px;

  .hour {

  }
  .minute {

  }
}

.dropdown-pane {
  width: 332px; 
  padding: 0;

  .new-record {
    padding: 10px;
    text-align: center;
    background-color: #0d8c3e;
    color: #fff;
  }
  .form-input {
    padding: 10px;
  }

  button {
    background-color: red;
  }
}

.time {
  select {
    width: 40% !important;
  }
}

.price {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #872929;
  text-align: right;
  border-top: 1px dashed #cacaca;
  font-size: 0.9rem;
}

.btn-form-record {
  padding: 16px;

  .btn-save {
    float: right;
    font-size: 1rem;
    padding: 12px 28px 12px 28px;
    background-color: #0d8c3e;
  }

  .btn-clear {
    float: left;
    font-size: 1rem;
    padding: 9px 35px 9px 35px;
    background-color: #872929;
    color: #fff;
  }
}

.discount-label {
  padding-left: 16px;

  .discount-btn {
    font-size: 0.9rem;
    background-color: #499dfc;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    color: #fff;
  }
}