.shelf-form, .form-title {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 0 1px 10px 0 rgba(104, 104, 104, 0.1);
  border: 1px solid #E6E7E8;

  .btn {
    padding-left: 15px;
  }
}

.shelves {
  .part-name {
    width: 100px;
  }
  .part {
    width: 30px;
  }

  .part-bulk-min {
    background-color: #872929;
    text-align: center;
    color: #fff;
  }

  .part-bulk {
    background-color: #0d8c3e;
    text-align: center;
    color: #fff;
  }
}